#app {
    font-family: 'Montserrat';
}
.form-container {
    background-color: #fff;
    padding: 30px;
    position: absolute;
    top:15vh;
}
.bg {
    background: url(../converse.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: 100%;
}